@import "../../../../theme";

.dash {
    height: 100vh;
    overflow: hidden;
}

.lyrics-input {
    width: 90%;
    height: 3.25rem;
}

:host{
    background-color: red;
    height: 100%
}

.search-button {
    font-size: larger;
    width: 300px;
    background-color: $color-primary;
}