.top-border {
    border-top: 1px solid black;
}
.yt {
    padding: 20px 5px;
}

.lyrics {
    padding-left: 20px;
    padding-bottom: 10px;
    white-space: pre-wrap;
    max-height: 65vh;
    overflow-y: auto;
}