.cover-image{
    width: 50px;
    height: 50px;
    margin: 5px 0 0 5px
  }

  .add-favourite-icon{
    font-size: 40px !important;
    line-height: 0;
  }

  .right-border {
    border-right: 1px solid black;
  }